# Lecture Notebook: From `datascience` to `pandas`

## Why `pandas`?

Like the `datascience` package you learned and used in Data 8, `pandas` is a Python library used for data manipulation and analysis.
However, `datascience` was developed as a pedagogical tool for Data 8, intended to help students become familiarized with python syntax as well as syntax associated with tabular data analysis. 
We decided to teach `datascience` first since its syntax is more intuitive and easier to use for students without much programming experience.
On the other hand, `pandas` is an industrial strength package that is used in most data analysis projects in the real world. 
Learning how to use `pandas` would also make your projects easier to understand for other data scientists and extend the scope of influence your projects may have.


Now that you've completed Data 8, it's a good time to translate the functions you've learned to `pandas`. 
Throughout this notebook, we will go over `pandas` by showing similar functions in both the `datascience` syntax and `pandas` syntax, as well as introduce you to some of the other functionalities that `pandas` provides.

We will first import the packages we need. The following 3 lines imports `pandas`, `datascience`, and `numpy` respectively. 
Note that we imported `pandas` as `pd`, which means that when we call functions in `pandas`, we will always reference them with `pd` first.
In Data 8, you saw something similar when we imported `numpy` as `np`: functions like taking `np.mean` or `np.random.choice` are all from the `numpy` package.

In [ ]:
import pandas as pd # This is how we import pandas into the environment. Typically, we use pd to refer to all pandas modules for short. 
from datascience import *
import numpy as np

## Creating a Table

### Reading in a Dataset

Frequently, the data we want to analyze will be in a separate file, typically as a `.csv` file. 
In this case, we want to read the files in and convert them into a tabular format.

Using the `datascience` package, we will want to read in the file as a table. 
To do this, we use the function `Table.read_table(file_path)`. 
In the example below, the `tesla-data.csv` file is in the same folder as this notebook, so the relative file path from this notebook to the csv file is just `tesla-data.csv`.

In [ ]:
# datascience
tesla_tbl = Table.read_table("tesla-data.csv")
tesla_tbl.show(5)

The syntax for reading in csv files in `pandas` is almost identical. 
`pandas` has a specific function to read in csv files called `pd.read_csv(file_path)`, with the same relative file path as its argument. 
the `dataframe.head()` function will display the first 5 rows of the data frame by default. 
If you want to specify the number of rows displayed, you can use`dataframe.head(num_rows)`.
Similarly, if you want to see the last few rows of the data frame, you can use `dataframe.tail(num_rows)`. Try it out for yourself!

In [ ]:
# pandas
tesla_df = pd.read_csv("tesla-data.csv")
tesla_df.head(5)

### Creating a Table from Scratch
Often times, data in tabular format is preferred for analysis. 
But what if you already have the data, just not in tabular format? 
For example, if your data is scattered in arrays and lists, you can use that to build your own table from scratch.

Using the `datascience` package, we can first create a blank table with a call to `Table()`, 
then add in the arrays as columns to this blank table as shown below.

In [ ]:
# datascience
pre_demand_tbl = Table().with_columns(
    'price transacted', make_array(10, 20, 30, 40),
    'quantity transacted', make_array(283, 322, 112, 5)
) 
pre_demand_tbl

There are multiple ways to do this in `pandas`. 
One way is intuitively very similar to how we did it with `datascience`. 

Here we use a dictionary object to represent the data -- don't worry if you're not familiar with them. 
We pass into the `data` argument `{"colname1": column1, "colname2": column2, ...}`.
Notably, we build the `DataFrame` by the columns, using each list as a column and associating each column with its appropriate name.

In [ ]:
# pandas - method 1
pre_demand_df = pd.DataFrame(data = {'price transacted': [10, 20, 30, 40], 
                         'quantity transacted': [283, 322, 112, 5]})
pre_demand_df

Another way to build the same table from scratch is by building it with rows. 
With this method, the data should be a list of lists, where each inner list contains the entries of one row. 
You might also notice that there is now a second argument, `columns`. 
Since we are passing in rows, we do not have the column names inside the `data` argument. 
This is why we use the `columns` argument to specify column names.

In [ ]:
# pandas - method 2
pre_demand_df = pd.DataFrame(data = [[10, 283], 
                                  [20, 322],
                                  [30, 112],
                                  [40, 5]], 
                         columns = ['price transacted', 'quantity transacted'])
pre_demand_df

## `pandas` datatypes

### Series vs. Arrays


One of the primary data types we saw when analyzing tabular data with the `datascience` package is the array.
In `datascience`, the columns of the tables consisted of arrays. In `pandas`, there is a very similar, but slightly different data type called a `Series`.

 You can access the values of a column in a Table using the `tbl.column(column_name)` function as follows. 
 When using `tbl.column`, the values of the selected column will be returned as an array.

In [ ]:
## datascience
tesla_tbl.column("high")

Similarly in `pandas`, you can access the values of a particular column by using `dataframe[column_name]`. 
The data frame object is introduced in the next section, for now you can just understand it as the `pandas` equivalent to a table. 
`dataframe[column_name]` will return a `Series` instead of an array.

In [ ]:
## pandas
tesla_df["high"]

A `Series` object is basically an array with indices for each data point. 
In the above example, the first element in the `high` column is the integer 120. The corresponding index is 0.

If we want just the data as an array without the index, we can use the `Series.values` attribute.

In [ ]:
tesla_df["high"].values

### DataFrames vs. Tables

The following is our standard `datascience` Table. It is basically a collection of arrays, with column names.

In [ ]:
# datascience
tesla_tbl.show(5)

A `pandas`  `DataFrame` can be thought of as a collection of Series, all of which have the same index. 
The resulting `DataFrame` consists of columns where each column is a `Series` and each row has a unique index.

In [ ]:
# pandas
tesla_df.head()

The number of rows in the `Table` can be found as such:

In [ ]:
# datascience
tesla_tbl.num_rows

Similarly, for the number of columns:

In [ ]:
# datascience
tesla_tbl.num_columns

The number of rows and columns in a `DataFrame` can be accessed together using the  `.shape` attribute. 
Notice that the index is not counted as a column.

In [ ]:
# pandas
tesla_df.shape

To get just the number of rows, we want the 0th element.

In [ ]:
# pandas
tesla_df.shape[0]

For just the number of columns, we want the 1st element.

In [ ]:
# pandas
tesla_df.shape[1]

### Indices

The row labels of a `DataFrame` are collectively called the index. 
It helps to identify each row. 
By default, the index values are the row numbers, with the first row having index 0.

In [ ]:
# pandas
tesla_df.head()

We can access the index of a `DataFrame` by calling `DataFrame.index`.

In [ ]:
tesla_df.index

That doesn't seem too meaningful. 
We can access the values of the index using `.values`.

In [ ]:
# pandas
tesla_df.index.values

In addition, we can set the index to whatever we want it to be. 
So, instead of index going from 0 to 661, we can change it to go from 1 to 662.

In [ ]:
# pandas
tesla_df.set_index(np.arange(1, 663))

Let's look at another example.

In [ ]:
inflation_data = pd.read_csv('core_inflation.csv')
inflation_data

The labels in an index of a `DataFrame` do not have to be intergers; they can also be strings. 
We can also use one of the data columns to be the index itself. 

Here is an example in which we are setting the index to be the `DATE` column.

In [ ]:
# pandas
inflation_data = inflation_data.set_index('DATE')
inflation_data

## Subsetting Data

### Selecting Columns

Sometimes the entire dataset contains too many columns, and we are only interested in some of the columns. 
In these situations, we would want to be able to select and display a subset of the columns from the original table. 
We dicuss some of these methods below.

In the `datascience` package, the `select` function is used. 
If we want the returned columns to be a table as well, we use the syntax `tbl.select(col_name1, col_name2, ...)`

In [ ]:
# datascience
# Selects the columns "ticker", "date", and "high".
tesla_tbl.select('ticker', 'date', 'high')

In `pandas`, there are many ways to achieve the same result. For one, we can use the function `loc`, shown below. 

The first argument of `loc` is which rows we want to select, and since we want all of the rows, just a colon ":" would indicate all rows. 
The second argument selects the columns we want. 

If we want more than one column, we need to pass in the column names as a list for the `loc` to return a dataframe object.

In [ ]:
# pandas
# Selects all rows and the columns "ticker", "date", and "high".
tesla_df.loc[:,['ticker', 'date', 'high']]

If you pass in a single column name as a list, it will still return a dataframe object with one column.

In [ ]:
# pandas
# Selects all rows but only the column "high". Returns a DataFrame object.
tesla_df.loc[:,['high']]

But if you pass in the column name as a string, pandas will recognize that you only have one column, and return a `Series` instead.

In [ ]:
# pandas
# Selects all rows but only the column "high". Returns a Series object.
tesla_df.loc[:,'high']

Another way to subset data in `pandas` is to use `iloc`. 

Unlike `loc`, which accepts column names as arguments, `iloc` only accepts numerical indices as its arguments. 
The order of arguments remain the same, with the rows being the first argument and the columns being the second argument. 
Here the `0:1` denotes a range and means that we want all columns indexed 0 through 1. 
In Python, ranges are generally left inclusive and right exclusive (so that only column 0 is selected here).

In [ ]:
# pandas
# Selects all rows and the 0th-1st column (not inclusive of the 1st column)
tesla_df.iloc[:,0:1]

As a side note, we can also subset tables' rows by selecting row indices. 
Since we've set the index of the flowers table to be the name of the flower, we can directly pass in the row indices as a list as the first argument. 
Note that here, `loc` is actually left and right inclusive.

In [ ]:
# pandas
# Selects the rows with index values "1958-01-01", "1958-04-01", "1958-07-01", and all columns
inflation_data.loc[['1958-01-01', '1958-04-01', '1958-07-01'], :]

In [ ]:
# pandas
# Selects the rows with index values from 0 to 3 (inclusive of 0 and 3), and all columns
tesla_df.loc[0:3,:]

`loc` and `iloc` are very powerful functions in `pandas`. 
Here are 2 more examples on the `tesla_df` table; let's see what they do:

In [ ]:
# pandas
# Selects the 0th and 2nd column, and all rows of the table
tesla_df.iloc[:, [0,2]]

If we want to only select a subset of columns from the table, there exists a special case short-cut where we drop the `.loc` and `:` entirely:

In [ ]:
# pandas
# Selects the columns "ticker", "date", and "high" with all rows
tesla_df[['ticker', 'date', 'high']]

### Getting a Value

What if you want to single out one entry of your entire table? 
This often occurs when we want to max or min value after sorting the table, for example:
- *What is the name of the flower with the most number of petals?*
- *How heavy was the baby that went through the longest gestational days?*

When we want a specific entry using the `datascience` package, we need to first use `tbl.column` to fetch an array out of a table, then use `.item` to retrieve the element's value. 
In the code below, we get the closing price of TSLA on the first day recorded in this dataset.

In [ ]:
# datascience
# Get the first item from the "Birth.Weight" column
tesla_tbl.column("close").item(0)

In `pandas`, the syntax for getting a single element is a lot less verbose. 
Remember `loc` and `iloc`? Since these functions have the ability to subset rows and columns at the same time, we are going to use that functionality here. 

We pass in 0 as the row selector, since we only want the first entry of the "close" column (the entry at the 0th index).

In [ ]:
# pandas
# Get the value at row with index 0 and column with label "close".
tesla_df.loc[0,"close"]

Similarly with iloc, we are just passing in 0 as the first argument and 5 as the second argument since we want the entry located at the first row and sixth column, which are both indexed at 0.

In [ ]:
# pandas
# Get the value at the 0th row and 5th column.
tesla_df.iloc[0,5]

In [ ]:
# pandas
# Get the rows with indices 0 to 5 (inclusive) of the "close" column
tesla_df.loc[0:5, "close"]

In [ ]:
# pandas
# Select the first seven columns of the first two rows
tesla_df.iloc[0:2, 0:7]

# Methods

## Filtering and Boolean Indexing

With the `datascience` package, we can filter a table by only returning rows that satisfy a specific condition.

In [ ]:
# datascience
# Returns all of the rows where "high" is greater than 765
tesla_tbl.where('high', are.above(765))

Equivalently, we can do this in `pandas` by "boolean indexing". 
The expression below returns a boolean series where an entry is `True` if it satisfies the condition and `False` if it doesn't.

In [ ]:
# pandas
tesla_df['high'] > 765

If we want to filter our `pandas` dataframe for all rows that satisfies Birth.Weight > 120, we can pass the boolean series into the row argument of `.loc`. 
The idea is that we only want the rows where the "boolean index" is `True`.

In [ ]:
# pandas
# Select all rows that are True in the boolean series tesla_df['high'] > 765.
tesla_df.loc[tesla_df['high'] > 765, :]

Notably, `.loc` returns all columns by default so we can omit the column argument and get the same result.

In [ ]:
# pandas
# Select all rows that are True in the boolean series tesla_df['high'] > 765.
tesla_df.loc[tesla_df['high'] > 765]

Boolean indexing is a very popular way to conduct filtering in `pandas`. As such, there exists another special case short-ahnd where we don't need the `.loc` or the `:`.

In [ ]:
# pandas
# Select all rows that are True in the boolean series tesla_df['high'] > 765.
tesla_df[tesla_df['high'] > 765]

In general, a filtering expression of the form `tbl.where(column, predicate)` in the `datascience` library takes the form `df.loc[criterion]` in `pandas`. 
Here are a few more examples:

In [ ]:
# datascience
# Return all rows where volume is greater than or equal to 10000.
tesla_tbl.where('volume', are.above_or_equal_to(10000))

In [ ]:
# pandas
# Return all rows where Maternal.Height is greater than or equal to 63.
tesla_df[tesla_df['volume'] >= 10000]

In [ ]:
# datascience
# Return all rows where ticker is SPY.
tesla_tbl.where('ticker', are.equal_to('SPY'))

In [ ]:
# pandas
# Return all rows where ticker is SPY.
tesla_df.loc[tesla_df['ticker'] == 'SPY']

## Filtering on Multiple Conditions

We can also filter on multiple conditions. 
If we want records (rows) where all of the conditions are true, we separate our criterion by the `&` symbol, where `&` represents *and*.

`df.loc[(boolean series 1) & (boolean series 2) & (boolean series 2)]`

If we just want one of the conditions to be true, we separate our criterion by `|` symbols, where `|` represents *or*.

`df.loc[(boolean series 1) | (boolean series 2) | (boolean series 2)]`

In [ ]:
# datascience
# Return all rows where high is between 760 and 765.
tesla_tbl.where('high', are.between(760, 765))

In [ ]:
# pandas
# Select all rows where Gestational.Days are above or equal to 270, but less than 280.
tesla_df.loc[(tesla_df['high'] >= 760) & (tesla_df['high'] < 765)]