In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("lab04.ipynb")

In [ ]:
import sqlalchemy
import sqlite3
import pandas as pd
import numpy as np

# Lab 4: SQL 
This notebook is an introduction to SQL. **We will be working with a SQLite dataset: the International Debt (2) Database collected by [the World Bank](https://www.worldbank.org/en/programs/debt-statistics/ids#standard). The dataset contains information about the amount of debt (in USD) owed by developing countries across several categories.** We are going to find the answers to questions like:

- What is the total amount of debt that is owed by the countries listed in the dataset?
- Which country owns the maximum amount of debt and what does that amount look like?
- What is the average amount of debt owed by countries across different debt indicators? 

From the International Debt (2) Database, we will be working with the debt table that includes 5 columns and 2357 rows. We will use this international debt database table to practice basic SQL queries with [SQL magic functions](https://jupyter-tutorial.readthedocs.io/en/stable/data-processing/postgresql/ipython-sql.html).

**Learning Objectives:**   
- Practice basic SQL queries
- Translate between SQL queries and Pandas methods

## Setup

In [ ]:
# %load_ext sql
%reload_ext sql

In [ ]:
# create a SQL Alchemy connection to the database
%sql sqlite:///international_debt_2.db
conn = sqlite3.connect("international_debt_2.db")
engine = sqlalchemy.create_engine("sqlite:///international_debt_2.db")

Let's load in the database by using cell magic so that we can explore the database.

In [ ]:
%%sql
SELECT * FROM sqlite_master WHERE type='table';

From running the above cell, we see the database has one table debt that we will be using in this notebook.

---
## Part 1: Exploring the Data

We want to read the data from a SQL database using a SQL query. 

SQL queries will be written within """s in the beginning and end of the code. After the query is written, we will use `pd.read_sql(query, engine)` to return a Pandas dataframe of the output data. An outline of a written query with the corresponding pandas function is shown below.

```python
# write the SQL query here
query = """
SELECT ...
"""
# this will execute the query and return a Pandas dataframe
output = pd.read_sql(query, engine)
```

As an example, if we want to select everything from the `debt` table, we can do the following:
```python
query = """
SELECT * 
FROM debt
"""

output = pd.read_sql(query, engine)
```

**Question 1.1:** Try this yourself: copy the SQL query from above that selects all the values from the `debt` table.

In [ ]:
q1_1 = ...

res_q1_1 = pd.read_sql(q1_1, engine)
res_q1_1

In [ ]:
grader.check("q1_1")

**Question 1.2:** Write a query to select all values for Afghanistan from the `debt` table.

In [ ]:
q1_2 = ...

res_q1_2 = pd.read_sql(q1_2, engine)
res_q1_2

In [ ]:
grader.check("q1_2")

**Question 1.3:** How many distinct countries are there? Write a query that can help us answer this. Your query output should look like the following:

| | total_distinct_countries |
| --- | --- |
| 0 | XXX |

Hint: remember to rename the column.

In [ ]:
q1_3 = ...

res_q1_3 = pd.read_sql(q1_3, engine)
res_q1_3

In [ ]:
grader.check("q1_3")

**Question 1.4:** What are the distinct debt indicators? Write a query that can help us answer this. And then order the result by the indicators in an alphabetical order. Your query output should look like the following:

| | distinct_debt_indicators |
| --- | --- |
| 0 | DT.AMT.BLAT.CD |
| 1 | DT.AMT.DLXF.CD |
| 2 | ... (rows omitted) |

Hint: remember to rename the column.

In [ ]:
q1_4 = ...

res_q1_4 = pd.read_sql(q1_4, engine)
res_q1_4

In [ ]:
grader.check("q1_4")

**Question 1.5:** What is the total amount of debt for each country? Write a query that can help us answer this. And then order the result by the country name in an alphabetical order. Your query output should look like the following:

| | country_name | total_debt |
| --- | --- | --- |
| 0 | Afghanistan | XXX |
| 1 | Albania | XXX |
| 2 |  | ... (rows omitted) |

Hint: Assume that the total amount of debt is the sum of debt from all categories in the table. Remember to rename the column.

In [ ]:
q1_5 = ...

res_q1_5 = pd.read_sql(q1_5, engine)
res_q1_5.head(10)

In [ ]:
grader.check("q1_5")

**Question 1.6:** Which are the countries with largest debt? Similar to the last question, but order by the total amount of debt this time in a descending order. Break the tie (if any) by country name in an alphabetical order. Your query output should look like the following:

| | country_name | total_debt |
| --- | --- | --- |
| 0 | China | XXX |
| 1 | Brazil | XXX |
| 2 |  | ... (rows omitted) |

Hint: Assume that the total amount of debt is the sum of debt from all categories in the table. Remember to rename the column.

In [ ]:
q1_6 = ...

res_q1_6 = pd.read_sql(q1_6, engine)
res_q1_6.head(10)

In [ ]:
grader.check("q1_6")

**Question 1.7:** What are the various types of debts and their totals for the developing countries in our data? Write a query that can help us answer this. Order by the total amount of debt for each category in a descending order. Your query output should look like the following:

| | indicator_name | total_debt |
| --- | --- | --- |
| 0 | Principal repayments on external debt, long-te... | XXX |
| 1 | Principal repayments on external debt, private... | XXX |
| 2 |  | ... (rows omitted) |

Hint: remember to rename the column.

In [ ]:
q1_7 = ...

res_q1_7 = pd.read_sql(q1_7, engine)
res_q1_7.head(10)

In [ ]:
grader.check("q1_7")

**Question 1.8:** Now we want to investigate further about the two countries with the largest debt--China and Brazil. Write a query that select only China and Brazil. Order by the debt category code in an alphabetical order, and break tie by country name in an alphabetical order. Your query output should look like the following:

| | country_name | country_code	| indicator_name | indicator_code | debt |
| --- | --- | --- | --- | --- | --- |
| 0 | Brazil | BRA | PPG, bilateral (AMT, current US\$) | DT.AMT.BLAT.CD | XXX |
| 1 | China | CHN | PPG, bilateral (AMT, current US\$) | DT.AMT.BLAT.CD | XXX |
| 2 |  |  |  |  | ... (rows omitted) |

In [ ]:
q1_8 = ...

res_q1_8 = pd.read_sql(q1_8, engine)
res_q1_8

In [ ]:
grader.check("q1_8")

**Question 1.9:** Look at the result above. Do you notice any big difference in the amount of debt in some categories betweem Brazil and China?

_Type your answer here, replacing this text._

---
## Part 2: Translating SQL queries
In this part, we will do some simple exercise to find equivalent commands in SQL and Pandas.

In this part, we will have two tables or dataframes: `farm` and `shop`. You may have already seen them in the discussion sections!

The `farm` table:

| | crop | price | type | is_red |
| --- | --- | --- | --- | --- |
| 0 | Starfruit | 750 | Fruit | False |
| 1 | Sweet Gem Berry | 3000 | Fruit | True |
| 2 | Red Cabbage | 260 | Vegetable | True |
| 3 | Parsnip | 35 | Vegetable | True |
| 4 | Pumpkin | 320 | Vegetable | False |

The `shop` table:

| | type | on_sale |
| --- | --- | --- |
| 0 | Fruit | True |
| 1 | Vegetable | False |
| 2 | Egg | False |
| 3 | Fish | False |

**Question 2.1:** Which of the following SQL query or queries are logically equivalent to the following Pandas query?

```python
farm.merge(shop, how="inner", on="type")
```

a.
``` mysql
SELECT * FROM farm, shop
WHERE type = type;
``` 
b.
``` mysql
SELECT * FROM farm, shop 
WHERE farm.type = shop.type;
``` 
c.
``` mysql
SELECT * FROM farm
INNER JOIN shop
WHERE farm.type = shop.type;
``` 
d.
``` mysql
SELECT * FROM farm
INNER JOIN shop
ON farm.type = shop.type;
``` 

Assign an array of letters corresponding to your answer to `q2_1` below. For example, `q2_1 = np.array(['a', 'b', 'c', 'd'])`.

In [ ]:
q2_1 = ...

In [ ]:
grader.check("q2_1")

**Question 2.2:** Which of the following Pandas command or commands are logically equivalent to the following SQL queries query?

``` mysql
SELECT type, AVG(price)
FROM farm
GROUP BY type;

``` 

a.
``` python
farm["price"].mean()
``` 
b.
``` python
farm.groupby(["type", "price"]).mean()
```  
c.
``` python
farm.groupby("price")[["type"]].mean()
``` 
d.
``` python
farm.groupby("type")[["price"]].mean()
``` 

Assign an array of letters corresponding to your answer to `q2_2` below. For example, `q2_2 = np.array(['a', 'b', 'c', 'd'])`.

In [ ]:
q2_2 = ...

In [ ]:
grader.check("q2_2")

---
## Feedback

**Question 3:** Please fill out this short [feedback form](https://forms.gle/pYhayJs9JvKNnfHD6) to let us know your thoughts about this lab! We really appreciate your opinions and feedback! At the end of the Google form, you should see a codeword. Assign the codeword to the variable `codeword` below.

In [ ]:
codeword = ...

In [ ]:
grader.check("q3")

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)