In [ ]:
import sqlalchemy
import sqlite3

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///wsdr.db

In [ ]:
conn = sqlite3.connect("wsdr.db")

In [ ]:
%sql SELECT * FROM soda LIMIT 5;

In [ ]:
%sql SELECT * FROM sqlite_master WHERE type='table';

In [ ]:
%%sql
SELECT count(DISTINCT store)
     AS total_store
FROM soda;

In [ ]:
%%sql
SELECT count(DISTINCT week)
     AS total_week
FROM soda;

In [ ]:
%sql SELECT * FROM upc LIMIT 5;

In [ ]:
%%sql
SELECT DISTINCT upc
AS distinct_upc
FROM soda
ORDER BY distinct_upc
LIMIT 5;

In [ ]:
%%sql
SELECT count(DISTINCT upc) 
        AS total_upc
FROM soda;

In [ ]:
%%sql
SELECT * FROM upc
WHERE descrip LIKE '%COKE%';